
<div id="content">

</div>

<script>
  $(document).keypress(function(e){
   if (e.which == 13) {
      $("button.search-q").click();
   }
  });
</script>

<script>
  $(document).ready(function(){
    NoPhenotype.initialize();
  });
</script>
