<div class="new-main">
  <div class="new-form">
    <% if flash.now[:errors] %>
      <% flash.now[:errors].each do |error| %>
        <%= error %>
      <% end %>
    <% end %>
      
    <%= image_tag "NoPhenotype.png", width:'100%' %>
    <!-- <h2>Log In</h2> -->
    <h3>New User? <a href="/users/new" class="signup-link">Sign up!</a></h3>
    <form action="/session" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <label>
        <!-- <p>Email</p> -->
        <input type="text" name="user[email]" value="example@example.com">
      </label>
      <br>
      <label>
        <!-- <p>Password</p> -->
        <input type="password" name="user[password]">
      </label>
      <br>
      <input type="submit" id="new" value="Log In">
    </form>
  </div>
</div>
