<div class="new-main">
  <div class="new-form">
    <% if flash.now[:errors] %>
      <% flash.now[:errors].each do |error| %>
        <%= error %>
      <% end %>
    <% end %>

    <%= image_tag "NoPhenotype.png", width:'100%' %>
    <h3>New User? <a href="/users/new" class="signup-link">Sign up!</a></h3>
    <form action="/sessions" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <label>
        <div class="info">Email</div>
        <input type="text" name="user[email]">
      </label>
      <br>
      <label>
        <div class="info">Password</div>
        <input type="password" name="user[password]">
      </label>
      <br>
      <input type="submit" class="new" value="Log In">
    </form>

    <form action="/sessions" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <label>
        <input type="hidden" name="user[email]" value="guest@example.com">
      </label>
      <br>
      <label>
        <input type="hidden" name="user[password]" value="example">
      </label>
      <br>
      <input type="submit" class="guest-login" value="Log in as guest">
    </form>
  </div>
</div>
