<div class="new-main">
  <div class="new-form">
    <ul>
      <% if flash.now[:errors] %>
        <% flash.now[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      <% end %>
    </ul>
    <%= image_tag "NoPhenotype.png", width:'100%' %>
    <h3>Already have an account? <a href="/sessions/new" class="signup-link">Log in!</a></h3>
    <form action="/users" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <label>
        <div class="info">Username</div>
        <input type="text" name="user[username]">
      </label>
      <br>
      <label>
        <div class="info">Email</div>
        <input type="text" name="user[email]">
      </label>
      <br>
      <label><div class="info">Password</div>
        <input type="password" name="user[password]">
      </label>
      <br>
      <input type="submit" class="new" value="Sign Up">
    </form>
  </div>
</div>
