<div class="new-main">
  <div class="new-form">
    <%= image_tag "NoPhenotype.png", width:'100%' %>
    <!-- <h2>Sign Up</h2> -->
    <form action="/users" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <label>
        <p>Username</p>
        <input type="text" name="user[username]">
      </label>
      <br>
      <label>
        <p>Email</p>
        <input type="text" name="user[email]">
      </label>
      <br>
      <label><p>Password</p>
        <input type="password" name="user[password]">
      </label>
      <br>
      <input type="submit" id="new" value="Sign Up">
    </form>
  </div>
</div>
