/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // @import "bootstrap-sprockets";
 // @import "bootstrap";

 // .fade {
 //   background: gray;
 // }


 body {
   margin: 0;
   background-image: url('dna-background.jpg');
   background-size: 100%;
 }

 div.new-main {
   position: relative;
   height: 100vh;
 }

 div.new-form {
   background-color: white;
   opacity: 0.75;
   padding: 30px;
   border-radius: 10px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 400px;

   h2, h3 {
     text-align: center;
   }

   h2 {
     color: #470000;
   }

   form {
     width: 100%;
     div.info {
       font-size: 1.2em;
       font-weight: 600;
       text-align: center;
     }
     input {
       margin-bottom: 10px;
       width: 100%;
       height: 30px;
     }
     input.new, input.guest-login {
       background-color: #69A5CC;
       border: 2px solid #69A5CC;
       border-radius :10px;
       font-weight: bold;
       &:hover {
         background-color: #99CCFF;
       }
     }
     input.guest-login {
       margin-top: -10px;
     }
   }
 }

 a.signup-link {
   text-decoration: none;
   color: #2162A3;
   &:hover {
     color: #3399FF;
   }
 }

.nav-bar-wrap {
  overflow:auto;
  background-color:black;
  height: 50px;
}

 .nav-bar {
   overflow: auto;
   background-color: white;
   height: 150px;

   img {
     float: left;
     height: 100px;
   }

   .nav-bar-right {
     display: inline-block;
     margin-right: 20px;
     float: right;
     img {
       display: inline-block;
       width: 40px;
       height: 40px;
       margin-top: 7px;
     }
     h4 {
       margin-left: 10px;
       display: inline-block;
       a {
         color: white;
         text-decoration: none;
       }
     }
     form.button_to {
       text-align: center;
       display:inline-block;
       width:100px;
     }
     form div input:nth-child(2) {
       background-color: white;
       color: black;
       padding: 5px;
       width: 80%;
       border: none;
       border-radius: 2px;
       &:hover {
         background-color: #5D6B95;
       }
     }

   }
 }

 #backbone-header {
   margin-top: 50px;
   float:left;
   a.all-questions-link {
     margin-left: 200px;
   }
 }


 #backbone-header a {
   text-decoration: none;
   display: inline-block;
   background-color: #7A7A7B;
   color: white;
   padding: 8px;
   margin: 5px;
   &:hover {
     text-decoration: none;
     background-color: #5A793C;
   }
 }

 #backbone-header a.make-green {
  background-color: #5A793C;
}


 #content {
   margin-top: 5px;
   padding: 40px;
   background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,0.9) 70%, rgba(237,237,237,0.5) 100%);
 }

 .rails-user {
   margin-top: 10px;
   padding: 40px;
   background-color: white;
   opacity: 0.8;
 }

 form.new-question {
  width: 400px;
  p {
    margin-top: 30px;
  }
  input, textarea {
    margin-bottom: 10px;
    width: 90%;
  }
  textarea {
    height: 100px;
  }
 }

 ul.questions-index {
   list-style: none;
 }

 li.question-index-item {
   padding: 10px;
   border-top: 1px solid #ccc;
   width: 100%;
   overflow: auto;

   .question-attr {
     width: 58px;
     display: inline-block;
     background-color: #5A793C;
     color: white;
     padding: 5px;
     text-align: center;
     margin-top: 15px;
   }
   .tags:first-child {
     margin-left: 200px;
   }
   .title-content {
     margin-top: -20px;
     padding-left: 20px;
     display: inline-block;
     width: 55%;
     h4 a {
       text-decoration: none;
       color: #0047B2;
     }
   }
   .tags {
     width: 80%;
   }
 }

 a.tags {
   text-decoration: none;
   color: #003300;
   background-color: #9999A9;
   padding: 5px;
   border-radius: 5px;
   &:hover {
     text-decoration:none;
     background-color: #CAA6FF;
   }
 }

 ul.tag-list, ul.tagged-questions {
   list-style: none;
   li {
     margin-top: 20px;
   }
 }

 ul.answers {
   list-style: none;
   li.answer {
     border-top: 1px solid #ccc;
     border-bottom: 1px solid #ccc;
     overflow: auto;
   }
 }

.new-answer form {
  width: 400px;
  textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    height: 100px;
  }
}

form button {
  padding: 10px;
  background-color: #ccc;
  border: 1px #ccc;
  border-radius: 5px;
  &:hover {
    background-color: #6C9A6C;
    cursor: pointer;
  }
}

.q-info-show, .a-info-show {
  overflow: auto;
}

.question-show {
  border-bottom: 1px solid #ccc;
}

.question-index-item > * {
  float: left;
}

.user-info {
  margin-right: 20px;
  padding: 5px;
  background-color: #B5CDFF;
  float: right;
  display: inline-block;
  width: 170px;
  img {
    width: 50px;
    height: 50px;
    float: left;
  }
  a {
    text-decoration: none;
    color: #0047B2;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 5px;
    display: inline-block;
    &:hover {
      color: #3E4141;
    }
  }
}

.voting {
  display: inline-block;
  width: 10%;
  float: left;
  margin-top: 5px;
}

form.vote {
  text-align: center;
}

ul.users-list {
  li {
    display: inline-block;
    list-style: none;
    margin: 20px;
    a.username {
      float: left;
      margin-left: 10px;
      text-decoration: none;
      font-size: 1.2em;
      color: black;
      margin-top: 20px;
      &:hover {
        color: #003300;
      }
    }
    a img {
      float: left;
      width: 70px;
      height: 70px;
    }
  }
}

button.new-comment, button.new-answer-comment {
  background-color: #eee;
  border-radius: 5px;
  border: none;
  color: gray;
  margin-left: 100px;
  &:hover {
    cursor: pointer;
  }
}

button.add-comment {
  background-color: #ccc;
  border: 1px #ccc;
  border-radius: 5px;
  padding: 2px;
}

a.comment-user-info {
  text-decoration: none;
  color: #0047B2;
}

form.new-comment {
  margin-left: 100px;
}

ul.q-comments, ul.a-comments {
  border-top: 1px solid #A6A6AA;
  margin-left: 100px;
  margin-top: 20px;
  list-style: none;
  li {
    margin-top: 10px;
    margin-left: -20px;
    border-bottom: 1px solid #eee;
  }
}

textarea.comment-form {
  width: 60%;
}

.questions-search {
  display: inline-block;
  float: right;
  margin: 15px;
  background-color: #FFE4C4;
  padding: 2px;
  border-radius: 5px;
}

button.search-q {
  padding: 2px;
  background-color: #5A793C;
  border: none;
  border-radius: 5px;
  color: white;
  &:hover {
    cursor: pointer;
  }
}

a.edit-q-show {
  text-decoration: none;
  color: #0047B2;
  float: right;
}

.profile-page {
  overflow: auto;
  .q-a{
    display: inline-block;
    float: left;
    ul.user-q, ul.user-a {
      margin-left: 30px;
      display: inline-block;
      float: left;
      width: 200px;
      .profile-q-a {
        width: 110%;
        font-weight: bold;
        border-bottom: 1px solid #909094;
        margin-bottom: 5px;
      }

      li {
        list-style-type: circle;
        margin: 5px;
        a {
          text-decoration: none;
          color: #0047B2;
        }
      }
    }
  }
  .user-show {
    display: inline-block;
    float: left;
    img {
      display:inline-block;
      float:left;
      width: 200px;
    }
    .user-show-info {
      margin-left: 20px;
      display: inline-block;
      float: left;
    }
  }
}


button.popularity-sort, a.newest {
  margin-left: 30px;
  border-top:none;
  border-right:none;
  border-bottom: 1px solid #7A7A7B;
  border-left: 1px solid #7A7A7B;
  font-family: times;
  font-size: 16px;
  background-color: #eee;
  padding: 8px;
  &:hover {
    cursor: pointer;
  }
}

a.newest {
  text-decoration: none;
  color: black;
}

button.upvote, button.downvote, button.upvote-selected, button.downvote-selected {
  padding: 0;
  border-radius: 0;
  width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
}

button.downvote {
	border-top: 20px solid #606066;
  background: none;
  &:hover {
    background:none;
  }
}

button.downvote-selected {
  border-top: 20px solid red;
  background: none;
  &:hover {
    background:none;
  }
}

button.upvote {
	border-bottom: 20px solid #606066;
  background: none;
  &:hover {
    background: none;
  }
}

button.upvote-selected {
  border-bottom: 20px solid green;
  background: none;
  &:hover {
    background: none;
  }
}

div.about {
  width: 40%;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  z-index: 1;
}

div.modal-hide-content {
  background: rgba(0,0,0,0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 0;
}

button.about, button.close-about {
  font-family: times;
  &:hover {
    cursor: pointer;
  }
}

button.about {
  display: inline-block;
  background:none;
  border:none;
  color: #7A7A7B;
  font-size: 18px;
  margin-top: -30px;
  &:hover {
    color: #0047B2;
  }
}

button.close-about {
  background-color: #346781;
  border: 1px solid #346781;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  padding: 5px;
  &:hover {
    background-color:#4A93B8;
    border:1px solid #4A93B8;
  }
}
