/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   background-image: url('dna-background.jpg');
   background-size: 100%;
 }

 div.new-main {
   position: relative;
   height: 100vh;
 }

 div.new-form {
   background-color: white;
   opacity: 0.75;
   padding: 30px;
   border-radius: 10px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 400px;

   h2, h3 {
     text-align: center;
   }

   h2 {
     color: #470000;
   }

   form {
     width: 100%;
     div.info {
       font-size: 1.2em;
       font-weight: 600;
       text-align: center;
     }
     input {
       margin-bottom: 10px;
       width: 100%;
       height: 30px;
     }
     input.new, input.guest-login {
       background-color: #69A5CC;
       border: 2px solid #69A5CC;
       border-radius :10px;
       font-weight: bold;
       &:hover {
         background-color: #99CCFF;
       }
     }
     input.guest-login {
       margin-top: -10px;
     }
   }
 }

 a.signup-link {
   text-decoration: none;
   color: #2162A3;
   &:hover {
     color: #3399FF;
   }
 }


 .nav-bar {
   overflow: auto;
   background-color: white;
   opacity: 0.7;

   img {
     float: left;
   }

   .nav-bar-right {
     display: inline-block;
     margin-right: 20px;
     float: right;
     form {
       text-align: center;
     }
     form div input:nth-child(2) {
       background-color: #5D6B95;
       color: white;
       padding: 5px;
       width: 80%;
       border: none;
       border-radius: 5px;
       &:hover {
         background-color: black;
       }
     }

   }
 }

 #backbone-header {
   float: right;
   width: 50%;
   margin-top: 60px;
 }

 #backbone-header a {
   text-decoration: none;
   display: inline-block;
   background-color: black;
   color: white;
   padding: 8px;
   margin: 5px;
   border-radius: 5px;
   &:hover {
     text-decoration: none;
     background-color: #003300;
   }
 }

 #content {
   margin-top: 10px;
   padding: 40px;
  //  opacity: 0.9;
  //  background-color: white;
   background: white;
   background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,0.85) 47%, rgba(237,237,237,0.65) 100%);


 }

 .rails-user {
   margin-top: 10px;
   padding: 40px;
   background-color: white;
   opacity: 0.8;
 }

 form.new-question {
  width: 400px;
  p {
    margin-top: 30px;
  }
  input, textarea {
    margin-bottom: 10px;
    width: 90%;
  }
  textarea {
    height: 100px;
  }
 }

 ul.questions-index {
   list-style: none;
 }

 li.question-index-item {
   padding: 10px;
   border-top: 1px solid #ccc;
   width: 100%;
   overflow: auto;

   .question-attr {
     display: inline-block;
     background-color: #3E4141;
     color: white;
     padding: 5px;
     border-radius: 5px;
     text-align: center;
     margin-top: 15px;
   }
   .tags:first-child {
     margin-left: 200px;
   }
   .title-content {
     margin-top: -20px;
     padding-left: 20px;
     display: inline-block;
     width: 60%;
     h4 a {
       text-decoration: none;
       color: #0047B2;
     }
   }
   .tags {
     width: 80%;
   }
 }

 a.tags {
   text-decoration: none;
   color: #003300;
   background-color: #9999A9;
   padding: 5px;
   border-radius: 5px;
   &:hover {
     text-decoration:none;
     background-color: #CAA6FF;
   }
 }

 ul.tag-list, ul.tagged-questions {
   list-style: none;
   li {
     margin-top: 20px;
   }
 }

 ul.answers {
   list-style: none;
   li.answer {
     border-top: 1px solid #ccc;
     border-bottom: 1px solid #ccc;
     overflow: auto;
     img {
       float: left;
     }
   }
 }

.new-answer form {
  width: 400px;
  textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    height: 100px;
  }
}

form button {
  padding: 10px;
  background-color: #ccc;
  border: 1px #ccc;
  border-radius: 15px;
  &:hover {
    // border: 1px solid #3399FF;
    background-color: #6C9A6C;
  }
}

.question-show {
  h3 {
    border-bottom: 1px solid #ccc;
  }
}

.question-index-item > * {
  float: left;
}

.user-info {
  margin-right: 20px;
  padding: 5px;
  background-color: #B5CDFF;
  border-radius: 5px;
  float: right;
  display: inline-block;
  width: 150px;
  a {
    text-decoration: none;
    color: #0047B2;
    font-weight: 600;
    &:hover {
      color: #3E4141;
    }
  }
}

.voting {
  display: inline-block;
  width: 10%;
  float: left;
  margin-top: 5px;
}

button.upvote, button.downvote, button.upvote-selected, button.downvote-selected {
    padding: 3px;
    border-radius: 20px;
    color: white;
}

button.upvote {
  width: 90%;
  background-color: #9999A9;
  &:hover {
    background-color: #003300;
  }
}

button.upvote-selected {
  width: 90%;
  background-color: #003300;
}

button.downvote-selected {
  width: 90%;
  background-color: #4D704D;
}

button.downvote {
  width: 90%;
  background-color: #9999A9;
  &:hover {
    background-color: #4D704D;
  }
}

form.vote {
  text-align: center;
}

ul.users-list {
  li {
    display: inline-block;
    list-style: none;
    margin: 20px;
    a {
      text-decoration: none;
      font-size: 1.2em;
      background-color: #2A2A32;
      color: white;
      border-radius: 5px;
      padding: 5px;
      &:hover {
        background-color: #003300;
      }
    }
  }
}

button.new-comment, button.new-answer-comment {
  background-color: white;
  border: none;
  color: gray;
  margin-left: 100px;
  &:hover {
    cursor: pointer;
  }
}

button.add-comment {
  border-radius: 5px;
  padding: 2px;
}

a.comment-user-info {
  text-decoration: none;
  color: #0047B2;
}

form.new-comment {
  margin-left: 100px;
}

ul.q-comments, ul.a-comments {
  border-top: 1px solid #A6A6AA;
  margin-left: 100px;
  margin-top: 20px;
  list-style: none;
  li {
    margin-top: 10px;
    margin-left: -20px;
    border-bottom: 1px solid #eee;
  }
}

textarea.comment-form {
  width: 60%;
}

button.search-q {
  background-color: #003300;
  border: none;
  border-radius: 5px;
  color: white;
}
