
<div class="modal">
    <h3>Welcome to No Phenotype</h3>
    <p><strong>No Phenotype</strong> is a question and answer site for professional
    and enthusiast scientists and researchers in biological fields.
    It's built and run by you; with your help, we're
    working together to build a library of detailed answers to every
    question about biology, research, and situations you might encounter
    in the lab.</p>
    <button class="close-about">Got it!</button>
</div>
