<div class="voting">
  <p>Vote: <%= answer.get('vote_count') %></p>
</div>

<p><%= answer.escape('content') %></p>
<p class="user-info">Answered by: <%= answer.get('user') %><br>
   Answered: <%= (answer.escape("created_at")).slice(0, 10) %>
</p>
