<div class="voting">
</div>

<div style="display:inline-block; width: 65%; margin: 20px;">
  <%= answer.escape('content') %>
</div>
<p class="user-info">Answered by: <%= answer.get('user') %><br>
   Answered: <%= (answer.escape("created_at")).slice(0, 10) %>
</p>
