
<button class="about">About NoPhenotype</button>
<a class="all-questions-link" href="#">Questions</a>
<a href="#/questions/new">Ask A Question</a>
<a href="#/tags">Tags</a>
<a href="#/users">Users</a>
<a href="#/users/<%= window.currentUser.current_user_id %>">Profile</a>
