
<button class="about">About NoPhenotype</button>
<a class="make-green all-questions-link" href="">Questions</a>
<a href="#/tags">Tags</a>
<a href="#/users">Users</a>
<a class="unanswered" href="#/unanswered">Unanswered</a>
<a href="#/questions/new">Ask Question</a>
