<label>Title<br>
  <input type="text" name="title">
</label>

<br>

<label>Content<br>
  <textarea name="content"></textarea>
</label>

<br>

<label>Tags<br>
  <input type="text" name="tag_list">
</label>

<br>

<button class="ask-question">Post Question</button>
