<label><p>Title</p>
  <input type="text" name="title" value="<%= question.escape('title') %>">
</label>

<br>

<label><p>Content</p>
  <textarea name="content"><%= question.escape('content') %></textarea>
</label>

<br>

<label><p>Tags</p>
  <input type="text" name="tag_list" value="<%= tag_list %>">
</label>

<br>

<button class="ask-question">Post Your Question</button>
