
<div class="user-show">
  <img src="<%= user.escape('img_url') %>"/>
  <div class="user-show-info">
    <p><strong>Username:</strong> <%= user.escape('username') %></p>
    <p><strong>Signed up:</strong> <%= user.escape('created_at').slice(0, 10) %></p>
  </div>
</div>
